<div class="skills__container">
    <div class="title">Skills</div>

    <div class="skills__title">
        Programming Languages
    </div>
    <div class="skills__type skills__type--pl">

        <div class="skills__skill">
            <div class="skill">Java</div>
        </div>
        <div class="skills__skill">
            <div class="skill">Python</div>
        </div>
        <div class="skills__skill">
            <div class="skill">C#</div>
        </div>
    </div>

    <div class="skills__title ">
        Databases
    </div>
    <div class="skills__type skills__type--databases">

        <div class="skills__skill">
            <p class="skill">MySQL</p>
        </div>
        <div class="skills__skill">
            <div class="skill">MongoDB</div>
        </div>
        <div class="skills__skill">
            <div class="skill">MS SQL Server</div>
        </div>
    </div>

    <div class="skills__title">
        Web Development
    </div>
    <div class="skills__type skills__type--wd">
        <div class="skills__skill">
            <div class="skill">HTML</div>
        </div>
        <div class="skills__skill">
            <div class="skill">CSS</div>
        </div>
        <div class="skills__skill">
            <div class="skill">JavaScript</div>
        </div>
        <div class="skills__skill">
            <div class="skill">React.js</div>
        </div>
        <div class="skills__skill">
            <div class="skill">Angular</div>
        </div>
        <div class="skills__skill">
            <div class="skill">Node.js</div>
        </div>
        <div class="skills__skill">
            <div class="skill">TypeScript</div>
        </div>
    </div>

    <div class="skills__title">
        Graphic
    </div>
    <div class="skills__type skills__type--graphic">

        <div class="skills__skill">
            <div class="skill">Adobe Photoshop</div>
        </div>
        <div class="skills__skill">
            <div class="skill">Adobe Illustrator</div>
        </div>
        <div class="skills__skill">
            <div class="skill">Adobe XD</div>
        </div>
    </div>

</div>
