.skills__container {
    display: grid;

    grid-template-rows: max-content 10vh 60vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.skills__type {

    grid-row: 3 / -1;

    &--pl {
        grid-column: 1 / 2;
    }

    &--databases {
        grid-column: 2 / 3;
    }

    &--wd {
        grid-column: 3 / 4;
    }

    &--graphic {
        grid-column: 4 / 5;
    }
}

.skills__title {
    justify-self: center;
    align-self: center;
    grid-row: 2 / 3;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1rem;
    text-decoration: underline;
    text-underline-position: under;
    color: #04181F;
}

.skills__skill {
    text-align: center;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.skill {
    padding: 12px 30px;
    background-color: #103C4F;
    color: white;
}

.title {
    text-transform: uppercase;
    padding: 5px 20px;
    font-weight: 700;
    font-size: 3rem;
    opacity: .3;
    letter-spacing: 10px;
}