<div class="skills__container">
    <div class="title">Skills</div>

    <div class="skills__title">
        Programming Languages
    </div>
    <div class="skills__type skills__type--pl">

        <div class="skills__skill">
            Java
        </div>
        <div class="skills__skill">
            Python
        </div>
        <div class="skills__skill">
            C#
        </div>
    </div>

    <div class="skills__title ">
        Databases
    </div>
    <div class="skills__type skills__type--databases">

        <div class="skills__skill">
            MySQL
        </div>
        <div class="skills__skill">
            MongoDB
        </div>
        <div class="skills__skill">
            MS SQL Server
        </div>
    </div>

    <div class="skills__title">
        Web Development
    </div>
    <div class="skills__type skills__type--wd">
        <div class="skills__skill">
            HTML
        </div>
        <div class="skills__skill">
            CSS
        </div>
        <div class="skills__skill">
            JavaScript
        </div>
        <div class="skills__skill">
            React.js
        </div>
        <div class="skills__skill">
            Angular
        </div>
        <div class="skills__skill">
            Node.js
        </div>
        <div class="skills__skill">
            TypeScript
        </div>
    </div>

    <div class="skills__title">
        Graphic
    </div>
    <div class="skills__type skills__type--graphic">

        <div class="skills__skill">
            Adobe Photoshop
        </div>
        <div class="skills__skill">
            Adobe Illustrator
        </div>
        <div class="skills__skill">
            Adobe XD
        </div>
    </div>

</div>
