<div class="section">
    <div class="section__container about-container">
        <h3 class="section__header about-heading">About Me</h3>
        <p class="section__paragraph about-paragraph">
            Hello there! My name is Frank and I am a software engineer based in Rockville, MD.
            I enjoy creating web applications and learning new skills that can benefit my development knowledge.
            Apart from development, I love to design mobile and web applications as well. Apart from software development
            and design, I love to hang with my friends, eat out, exercise, and do some gaming.
        </p>
    </div>
    <div class="section__container experience-container">
        <h3 class="section__header experience-heading">Experience</h3>
        <div class="experience">
            <div class="experience__job">
                <div class="experience__job__entry">
                    <img src="../../assets/img/geico-logo.jpg" alt="GEICO logo" class="experience__job__entry--logo experience__job__entry--logo-geico">
                    <div class="experience__job__entry--title">Software Engineer<span class="experience__job__entry--type">- Full Time</span></div>
                    <div class="experience__job__entry--company">GEICO</div>
                    <div class="experience__job__entry--date">Jan 2020 - Present</div>
                    <div class="experience__job__entry--location">Chevy Chase, MD</div>
                </div>
                <div class="experience__job--responsibilities">
                    <div class="experience__job--responsibilities-entry">
                        <img src="../../assets/img/chevron-thin-right.svg" class="experience__job--responsibilities-entry--chevron">
                        Constructing a Full Stack Web Application with REST API endpoints to support my teammates' productivity and work efficiency.
                    </div>
                    <div class="experience__job--responsibilities-entry">
                        <img src="../../assets/img/chevron-thin-right.svg" class="experience__job--responsibilities-entry--chevron">
                        Constantly working on both the frontend and backend of the application to support the functionality of both components.
                    </div>
                </div>
                <div class="experience__job--technologies">
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">C#</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">.NET</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">Azure DevOps</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">SQL Server</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">Angular 8</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">TypeScript</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">Jasmine/Karma</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">CSS</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">HTML</div>
                </div>
            </div>
            <div class="experience__job">
                <div class="experience__job__entry">
                    <img src="../../assets/img/disaster-accountability-project-log.jpg" alt="DAP logo" class="experience__job__entry--logo experience__job__entry--logo-dap">
                    <div class="experience__job__entry--title">Front-End Engineer<span class="experience__job__entry--type">- Volunteer</span></div>
                    <div class="experience__job__entry--company">Disaster Accountability Project</div>
                    <div class="experience__job__entry--date">Sep 2020 - Oct 2020</div>
                    <div class="experience__job__entry--location">Rockville, MD</div>
                </div>
                <div class="experience__job--responsibilities">
                    <div class="experience__job--responsibilities-entry">
                        <img src="../../assets/img/chevron-thin-right.svg" class="experience__job--responsibilities-entry--chevron">
                        Fixed Front-End and UI issues to support the functionality and user experience of the web application.
                    </div>
                    <div class="experience__job--responsibilities-entry">
                        <img src="../../assets/img/chevron-thin-right.svg" class="experience__job--responsibilities-entry--chevron">
                        Conducted code reviews and did pull request testing through GitHub.
                    </div>
                </div>
                <div class="experience__job--technologies">
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-dap">Angular</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-dap">TypeScript</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-dap">HTML</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-dap">CSS</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-dap">GitHub</div>
                </div>
            </div>
            <div class="experience__job">
                <div class="experience__job__entry">
                    <img src="../../assets/img/altamira.jpg" alt="Altamira logo" class="experience__job__entry--logo experience__job__entry--logo-altamira">
                    <div class="experience__job__entry--title">Software Engineer<span class="experience__job__entry--type">- Internship</span></div>
                    <div class="experience__job__entry--company">Altamira Technologies Corporation</div>
                    <div class="experience__job__entry--date">Jun 2019 - Aug 2019</div>
                    <div class="experience__job__entry--location">McLean, VA</div>
                </div>
                <div class="experience__job--responsibilities">
                    <div class="experience__job--responsibilities-entry">
                        <img src="../../assets/img/chevron-thin-right.svg" class="experience__job--responsibilities-entry--chevron">
                        Constructed a MongoDB database replica of a PostgreSQL database that supports the backend of a web application for speed comparisons in storing and querying GIS data.
                    </div>
                </div>
                <div class="experience__job--technologies">
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">Java</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">JUnit Testing</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">XML</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">JSON</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">Docker</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">Maven</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">MongoDB</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">PostgreSQL</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">Jenkins</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">GitLab</div>
                </div>
            </div>
        </div>
    </div>

    <div class="section__container education-container">
        <h3 class="section__header education-heading">Education</h3>
        <div class="education">
            <div class="education__school">
                <div class="education__school--info">
                    <img src="../../assets/img/umd-icon.png" alt="UMD Icon" class="education__school--info-logo">
                    <div class="education__school--info-degree">B.S./Information Science</div>
                    <div class="education__school--info-name">University of Maryland</div>
                    <div class="education__school--info-date">Jan 2018 - Dec 2019</div>
                    <div class="education__school--info-location">College Park, MD</div>
                </div>
                <p class="education__school--coursework-heading">Relevant Coursework:</p>
                <div class="education__school--info-courses">
                    <div class="education__school--coursework">
                        <div class="education__school--coursework-entry">
                            <img src="../../assets/img/chevron-thin-right.svg" class="education__school--coursework-entry--chevron">
                            Object-Oriented Programming - Python
                        </div>
                        <div class="education__school--coursework-entry">
                            <img src="../../assets/img/chevron-thin-right.svg" class="education__school--coursework-entry--chevron">
                            Information User Needs and Assessment
                        </div>
                        <div class="education__school--coursework-entry">
                            <img src="../../assets/img/chevron-thin-right.svg" class="education__school--coursework-entry--chevron">
                            Data Sources and Manipulation
                        </div>
                        <div class="education__school--coursework-entry">
                            <img src="../../assets/img/chevron-thin-right.svg" class="education__school--coursework-entry--chevron">
                            Database Design & Modeling
                        </div>
                        <div class="education__school--coursework-entry">
                            <img src="../../assets/img/chevron-thin-right.svg" class="education__school--coursework-entry--chevron">
                            User-Centered Design
                        </div>
                        <div class="education__school--coursework-entry">
                            <img src="../../assets/img/chevron-thin-right.svg" class="education__school--coursework-entry--chevron">
                            Dynamic Web Applications
                        </div>
                    </div>
                </div>
            </div>
            <div class="education__school">
                <div class="education__school--info">
                    <img src="../../assets/img/mc-logo.jpg" alt="MC Icon" class="education__school--info-logo">
                    <div class="education__school--info-degree">A.A./Computer Science</div>
                    <div class="education__school--info-name">Montgomery College</div>
                    <div class="education__school--info-date">Aug 2015 - Dec 2017</div>
                    <div class="education__school--info-location">Rockville, MD</div>
                </div>
                <p class="education__school--coursework-heading">Relevant Coursework:</p>
                <div class="education__school--info-courses">
                    <div class="education__school--coursework">
                        <div class="education__school--coursework-entry">
                            <img src="../../assets/img/chevron-thin-right.svg" class="education__school--coursework-entry--chevron">
                            Object-Oriented Programming I, II - Java
                        </div>
                        <div class="education__school--coursework-entry">
                            <img src="../../assets/img/chevron-thin-right.svg" class="education__school--coursework-entry--chevron">
                            Discrete Structures
                        </div>
                        <div class="education__school--coursework-entry">
                            <img src="../../assets/img/chevron-thin-right.svg" class="education__school--coursework-entry--chevron">
                            Data Structures & Algorithms
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section__container certification-container">
        <h3 class="section__header certification-heading">Certifications</h3>
        <div class="certification__cert--container">
            <div class="certification__cert">
                <h4 class="certification__cert--title">Google UX Design Certification</h4>
                <div class="certification__cert--organization">Google</div>
                <div class="certification__cert--date-issued"><span>Date Issued: </span>June 2021</div>
                <a href="https://coursera.org/share/a01d0ba58923f0f89d94c9ac948001f0" target="_blank" class="certification__cert--view">View Certification</a>
            </div>
            <div class="certification__cert">
                <h4 class="certification__cert--title">Start the UX Design Process: Empathize, Define, and Ideate</h4>
                <div class="certification__cert--organization">Google</div>
                <div class="certification__cert--date-issued"><span>Date Issued: </span>May 2021</div>
                <a href="https://coursera.org/share/12b58e14b5920a95c4c11076f71c9ecb" target="_blank" class="certification__cert--view">View Certification</a>
            </div>
            <div class="certification__cert">
                <h4 class="certification__cert--title">Design a User Experience for Social Good & Prepare for Jobs</h4>
                <div class="certification__cert--organization">Google</div>
                <div class="certification__cert--date-issued"><span>Date Issued: </span>June 2021</div>
                <a href="https://coursera.org/share/91bf2e23da9942dfd5062e4968e427f8" target="_blank" class="certification__cert--view">View Certification</a>
            </div>
            <div class="certification__cert">
                <h4 class="certification__cert--title">Responsive Web Design in Adobe XD</h4>
                <div class="certification__cert--organization">Google</div>
                <div class="certification__cert--date-issued"><span>Date Issued: </span>June 2021</div>
                <a href="https://coursera.org/share/8c9a539b3eb87fb6a43af89f8512d3bd" target="_blank" class="certification__cert--view">View Certification</a>
            </div>
            <div class="certification__cert">
                <h4 class="certification__cert--title">Foundations of User Experience (UX) Design</h4>
                <div class="certification__cert--organization">Google</div>
                <div class="certification__cert--date-issued"><span>Date Issued: </span>May 2021</div>
                <a href="https://coursera.org/share/da88508e9912c7805359d2d1e10c874c" target="_blank" class="certification__cert--view">View Certification</a>
            </div>
            <div class="certification__cert">
                <h4 class="certification__cert--title">Build Wireframes and Low-Fidelity Prototypes</h4>
                <div class="certification__cert--organization">Google</div>
                <div class="certification__cert--date-issued"><span>Date Issued: </span>May 2021</div>
                <a href="https://coursera.org/share/ecaec195f5b5f41b5f0fdbf9d5740f16" target="_blank" class="certification__cert--view">View Certification</a>
            </div>
            <div class="certification__cert">
                <h4 class="certification__cert--title">Create High-Fidelity Designs and Prototypes in Figma</h4>
                <div class="certification__cert--organization">Google</div>
                <div class="certification__cert--date-issued"><span>Date Issued: </span>May 2021</div>
                <a href="https://coursera.org/share/08355ee2540b1fcbe058ea3045348203" target="_blank" class="certification__cert--view">View Certification</a>
            </div>
            <div class="certification__cert">
                <h4 class="certification__cert--title">Conduct UX Research and Test Early Concepts</h4>
                <div class="certification__cert--organization">Google</div>
                <div class="certification__cert--date-issued"><span>Date Issued: </span>May 2021</div>
                <a href="https://coursera.org/share/d47398119928d8a7394d8c6995a93464" target="_blank" class="certification__cert--view">View Certification</a>
            </div>
        </div>
    </div>

    <div class="section__container volunteer-container">
        <h3 class="section__header volunteer-heading">Volunteer</h3>
        <div class="volunteer">
            <div class="volunteer__gig">
                <div class="volunteer__gig--info">
                    <div class="volunteer__gig--info-title">Front-End Engineer</div>
                    <div class="volunteer__gig--info-org">Disaster Accountability Project</div>
                    <div class="volunteer__gig--info-date">Sep 2020 - Oct 2020</div>
                </div>
                <p class="volunteer__gig--info-paragraph">As part of the Disaster Accountability Project, I</p>
                <div class="volunteer__gig--info--responsibilities">
                    <div class="volunteer__gig--info--responsibilities-entry">
                        <img src="../../assets/img/chevron-thin-right.svg" class="volunteer__gig--info--responsibilities-entry--chevron">
                        Solved user interface functionality bugs and issues for their web application.
                    </div>
                    <div class="volunteer__gig--info--responsibilities-entry">
                        <img src="../../assets/img/chevron-thin-right.svg" class="volunteer__gig--info--responsibilities-entry--chevron">
                        Conducted code reviews and pull request testing in GitHub.
                    </div>
                    <div class="volunteer__gig--info--responsibilities-entry">
                        <img src="../../assets/img/chevron-thin-right.svg" class="volunteer__gig--info--responsibilities-entry--chevron">
                        Gave suggestions and ideas on solving user experience issues.
                    </div>
                </div>
            </div>
            <div class="volunteer__gig">
                <div class="volunteer__gig--info">
                    <div class="volunteer__gig--info-title">Academic Tutor</div>
                    <div class="volunteer__gig--info-org">Terps & Eagle Science Club</div>
                    <div class="volunteer__gig--info-date">Feb 2018 - May 2016</div>
                </div>
                <p class="volunteer__gig--info-paragraph">
                    I tutored elementary school students in mathematics and literature at Carole Highlands Elementary School in 
                    College Park as part of the Terps & Eagles Science Club at the University of Maryland.
                </p>
            </div>
        </div>
    </div>

    <div class="section__container skills-container">
        <h3 class="section__header skills-heading">Skills</h3>
        <div class="skills">
            <div class="skills__category">
                <h2 class="skills__category--title">Programming</h2>
                <div class="skills__category--technologies">
                    <div class="skills__category--technologies-tech">C#</div>
                    <div class="skills__category--technologies-tech">ASP.Net MVC</div>
                    <div class="skills__category--technologies-tech">Java</div>
                    <div class="skills__category--technologies-tech">Python</div>
                    <div class="skills__category--technologies-tech">Angular</div>
                    <div class="skills__category--technologies-tech">TypeScript</div>
                    <div class="skills__category--technologies-tech">React</div>
                    <div class="skills__category--technologies-tech">HTML</div>
                    <div class="skills__category--technologies-tech">CSS</div>
                    <div class="skills__category--technologies-tech">MS SQL Server</div>
                    <div class="skills__category--technologies-tech">MySQL</div>
                    <div class="skills__category--technologies-tech">MongoDB</div>
                </div>
            </div>
            <div class="skills__category">
                <h2 class="skills__category--title">UI/UX</h2>
                <div class="skills__category--technologies">
                    <div class="skills__category--technologies-tech">Adobe XD</div>
                    <div class="skills__category--technologies-tech">Figma</div>
                    <div class="skills__category--technologies-tech">UI Design</div>
                    <div class="skills__category--technologies-tech">User Research</div>
                    <div class="skills__category--technologies-tech">Wireframes</div>
                    <div class="skills__category--technologies-tech">Mockups</div>
                    <div class="skills__category--technologies-tech">Prototypes</div>
                    <div class="skills__category--technologies-tech">Adobe Photoshop</div>
                    <div class="skills__category--technologies-tech">Adobe Illustrator</div>
                </div>
            </div>
        </div>
    </div>
</div>

