<div class="section">
    <div class="section__container about-container">
        <h3 class="section__header about-heading">About Me</h3>
        <br/>
        <p class="section__paragraph about-paragraph">
            Hello there! My name is Frank and I am a software engineer based in Rockville, MD.
            I enjoy creating web applications and learning new skills that can benefit my development knowledge.
            Apart from development, I love to design mobile and web applications as well. Apart from software development
            and design, I love to hang with my friends, eat out, exercise, and do some gaming.
        </p>
    </div>
    <div class="section__container experience-container">
        <h3 class="section__header experience-heading">Experience</h3>
        <br/>
        <div class="experience">
            <div class="experience__job">
                <div class="experience__job__entry">
                    <img src="../../assets/img/geico-logo.jpg" alt="GEICO logo" class="experience__job__entry--logo experience__job__entry--logo-geico">
                    <div class="experience__job__entry--title">Software Engineer<span class="experience__job__entry--type">- Full Time</span></div>
                    <div class="experience__job__entry--company">GEICO</div>
                    <div class="experience__job__entry--date">Jan 2020 - Present</div>
                    <div class="experience__job__entry--location">Chevy Chase, MD</div>
                </div>
                <div class="experience__job--responsibilities">
                    <div class="experience__job--responsibilities-entry">
                        <img src="../../assets/img/chevron-thin-right.svg" class="experience__job--responsibilities-entry--chevron">
                        Constructing a Full Stack Web Application with REST API endpoints to support my teammates' productivity and work efficiency.
                    </div>
                    <div class="experience__job--responsibilities-entry">
                        <img src="../../assets/img/chevron-thin-right.svg" class="experience__job--responsibilities-entry--chevron">
                        Constantly working on both the frontend and backend of the application to support the functionality of both components.
                    </div>
                </div>
                <div class="experience__job--technologies">
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">C#</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">.NET</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">Azure DevOps</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">SQL Server</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">Angular 8</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">TypeScript</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">Jasmine/Karma</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">CSS</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-geico">HTML</div>
                </div>
            </div>
            <div class="experience__job">
                <div class="experience__job__entry">
                    <img src="../../assets/img/disaster-accountability-project-log.jpg" alt="DAP logo" class="experience__job__entry--logo experience__job__entry--logo-dap">
                    <div class="experience__job__entry--title">Front-End Engineer<span class="experience__job__entry--type">- Volunteer</span></div>
                    <div class="experience__job__entry--company">Disaster Accountability Project</div>
                    <div class="experience__job__entry--date">Sep 2020 - Oct 2020</div>
                    <div class="experience__job__entry--location">Rockville, MD</div>
                </div>
                <div class="experience__job--responsibilities">
                    <div class="experience__job--responsibilities-entry">
                        <img src="../../assets/img/chevron-thin-right.svg" class="experience__job--responsibilities-entry--chevron">
                        Fixed Front-End and UI issues to support the functionality and user experience of the web application.
                    </div>
                    <div class="experience__job--responsibilities-entry">
                        <img src="../../assets/img/chevron-thin-right.svg" class="experience__job--responsibilities-entry--chevron">
                        Conducted code reviews and did pull request testing through GitHub.
                    </div>
                </div>
                <div class="experience__job--technologies">
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-dap">Angular</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-dap">TypeScript</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-dap">HTML</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-dap">CSS</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-dap">GitHub</div>
                </div>
            </div>
            <div class="experience__job">
                <div class="experience__job__entry">
                    <img src="../../assets/img/altamira.jpg" alt="Altamira logo" class="experience__job__entry--logo experience__job__entry--logo-altamira">
                    <div class="experience__job__entry--title">Software Engineer<span class="experience__job__entry--type">- Internship</span></div>
                    <div class="experience__job__entry--company">Altamira Technologies Corporation</div>
                    <div class="experience__job__entry--date">Jun 2019 - Aug 2019</div>
                    <div class="experience__job__entry--location">McLean, VA</div>
                </div>
                <div class="experience__job--responsibilities">
                    <div class="experience__job--responsibilities-entry">
                        <img src="../../assets/img/chevron-thin-right.svg" class="experience__job--responsibilities-entry--chevron">
                        Constructed a MongoDB database replica of a PostgreSQL database that supports the backend of a web application for speed comparisons in storing and querying GIS data.
                    </div>
                </div>
                <div class="experience__job--technologies">
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">Java</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">JUnit Testing</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">XML</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">JSON</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">Docker</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">Maven</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">MongoDB</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">PostgreSQL</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">Jenkins</div>
                    <div class="experience__job--technologies--tech experience__job--technologies--tech-altamira">GitLab</div>
                </div>
            </div>
        </div>

    </div>
</div>

