.section {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    &__container {
        margin-left: 20rem;
        margin-right: 20rem;

        @media screen and (max-width: 1600px) {
            margin-left: 10rem;
            margin-right: 10rem;
        }

        @media screen and (max-width: 768px) {
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }

    &__header {
        font-weight: 300;
        font-size: 6vh;
        text-transform: uppercase;

        @media screen and (max-width: 768px) {
        }
    }

    &__paragraph {
        line-height: 4rem;
        font-weight: 100;
        font-size: 3vh;
    }
}

.about {
    &-container {
        @media screen and (max-width: 1200px) {
        }

        @media screen and (max-width: 768px) {
        }
    }
}

.experience {
    display: flex;
    flex-direction: column;
    row-gap: 6vh;

    &__job {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;

        &--responsibilities {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            font-size: 2vh;
            font-weight: 300;
            line-height: 1.5rem;
    
            &-entry {
                line-height: 5vh;

                @media screen and (max-width: 768px) {
                }

                &--chevron {
                    width: 2vh;
                    height: 2vh;
                    margin-right: 10px;
                    fill: #04181F;
                }
            }
        }

        &--technologies {
            font-size: 2vh;
            font-weight: 200;
            row-gap: 8px;
            column-gap: 5px;
            display: flex;
            flex-wrap: wrap;
    
            &--tech {
                padding: .4rem 1rem;
                color: white;
                border-radius: .2rem;
                margin-right: 4px;
    
                &-geico {
                    background-color: #104293;
                }
    
                &-dap {
                    background-color: #555555;
                }
    
                &-altamira {
                    background-color: #739BC1;
                }
            }
        }
    }

    &__job__entry {
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        grid-template-rows: max-content max-content;
        align-items: center;
        grid-column-gap: 10px;
        grid-row-gap: 4px;
        padding: 10px;
        font-size: 2vh;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: max-content max-content max-content;
            padding: 0;
            font-size: 2vh;
        }

        &--logo {
            grid-row: 1 / -1;

            @media screen and (max-width: 768px) {
                display: none;
                grid-row: 0;
            }

            &-geico {
                width: 90px;
                height: 60px;
            }

            &-dap {
                width: 62px;
                height: 62px;
            }

            &-altamira {
                width: 60px;
                height: 60px;
            }
        }

        &--title {
            align-self: flex-end;

            @media screen and (max-width: 768px) {
                grid-column: 1/-1;
                grid-row: 1/2;
            }
        }
    
        &--company {
            font-weight: 300;
            grid-row: 2 / 3;
            grid-column: 2 / -1;
            align-self: flex-start;

            @media screen and (max-width: 768px) {
                grid-column: 1/-1;
                grid-row: 2/3;
                justify-self: flex-start;
            }
        }

        &--type {
            font-weight: 100;
            letter-spacing: 1px;
            margin-left: .4rem;
            font-size: 1.6vh;
        }
    
        &--date {
            font-weight: 200;
            align-self: flex-end;

            @media screen and (max-width: 768px) {
                grid-column: 1/2;
                grid-row: 3/4;
                justify-self: flex-start;
            }
        }
    
        &--location {
            grid-row: 2 / 3;
            grid-column: 3 / 4;
            font-weight: 200;
            justify-self: end;
            align-self: flex-start;

            @media screen and (max-width: 768px) {
                grid-column: 2/3;
                grid-row: 3/4;
                justify-self: flex-end;
            }
        }
    }
}

.education {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;

    &__school {
        display: flex;
        flex-direction: column;
        row-gap: .6rem;

        &--coursework {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            font-size: 2vh;
            font-weight: 300;
            line-height: 1.2rem;

            &-heading {
                font-size: 2vh;
                font-weight: 200;
            }

            &-entry {
                &--chevron {
                    width: 2vh;
                    height: 2vh;
                    margin-right: 10px;
                }
            }
        }

        &--info {
            display: grid;
            grid-template-columns: max-content 1fr 1fr;
            grid-template-rows: max-content max-content;
            grid-row: 1 / 2;
            grid-column: 3 / -1;
            grid-column-gap: 12px;
            grid-row-gap: 5px;
            font-size: 2vh;

            @media screen and (max-width: 768px) {
                grid-template-columns: max-content 1fr max-content;
                grid-template-rows: 1fr 1fr;
                padding: 0;
                font-size: 2vh;
            }

            &-logo {
                width: 80px;
                height: 80px;
                grid-row: 1 / -1;
                align-self: center;

                @media screen and (max-width: 768px) {
                    display: none;
                    grid-row: 0;
                }
            }
        
            &-degree {
                align-self: flex-end;

                @media screen and (max-width: 768px) {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
            }
        
            &-name {
                font-weight: 300;
                grid-row: 2 / 3;
                grid-column: 2 / -1;
                align-self: flex-start;

                @media screen and (max-width: 768px) {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
            }
        
            &-date {
                font-weight: 200;
                align-self: flex-end;
                justify-self: end;

                @media screen and (max-width: 768px) {
                    font-size: 1.6vh;
                    grid-column: 2/-1;
                    grid-row: 1/2;
                }
            }
        
            &-location {
                grid-row: 2 / 3;
                grid-column: 3 / 4;
                font-weight: 200;
                justify-self: end;
                align-self: flex-start;

                @media screen and (max-width: 768px) {
                    grid-column: 2/-1;
                    grid-row: 2/-1;
                }
            }
        }
    }
}