<nav class="navbar">
    
    <div class="menu-toggle" (click)="toggleNav()">
        <span class="menu-toggle__bar"></span>
        <span class="menu-toggle__bar"></span>
        <span class="menu-toggle__bar"></span>
    </div>
    <div class="navbar__header" routerLink="/home">Frank Chambergo</div>
    <ul class="navbar__items">
        <li class="navbar__item navbar__item--1"><a routerLink="/home" class="navbar__link">Frank Chambergo</a></li>
        <li class="navbar__item navbar__item--2"><a routerLink="/resume" class="navbar__link">Resume</a></li>
        <li class="navbar__item navbar__item--3"><a routerLink="/work" class="navbar__link">Work</a></li>
        <li class="navbar__item navbar__item--4"><a routerLink="/journey" class="navbar__link">Journey</a></li>
        <li class="navbar__item navbar__item--5"><a routerLink="/about" class="navbar__link">About</a></li>
    </ul>
    
</nav>