<div class="underclip">
        
</div>
<div class="contact">
    <h2 class="contact__heading">Contact Me!</h2>
    <p class="contact__suggestions">
        Hello. If you want to get into contact with me, these are the best ways to do so.
    </p>
    <p class="contact__suggestions">Shoot me an email, send me a message, call or text me.</p>
    <p class="contact__suggestions">P.S: If you call me and I don't pick up, please leave a message!</p>
    <div class="contact__information">
        <div class="contact__information--link">
            <svg class="contact__information--link-icon">
                <use xlink:href="../assets/img/phone-numbers-call.svg#phone"></use>
            </svg>
            <div class="contact__information--link-text">(240)-855-6729</div>
        </div>
        <div class="contact__information--link">
            <svg class="contact__information--link-icon">
                <use xlink:href="../assets/img/mail.svg#mail"></use>
            </svg>
            <div class="contact__information--link-text">franky4908@gmail.com</div>
        </div>
        <div class="contact__information--link">
            <svg class="contact__information--link-icon">
                <use xlink:href="../assets/img/linkedin.svg#linkedin"></use>
            </svg>
            <a href="https://www.linkedin.com/in/fchambergo/" target="_blank" class="contact__information--link-text about__info--link">linkedin/fchambergo</a>
        </div>
    </div>
</div>
