<div class="work-container">
    <h4 class="work-title">Coding Projects</h4>
    <div class="work-projects-container">
        <div class="project">
            <div class="project__title">Project Title</div>
            <div class="project__links">
                <div class="project__links--github">GitHub</div>
                <div class="project__links--website">Website</div>
            </div>
            <div class="project__description">Description</div>
            <div class="project__technologies">
                <div class="project__technologies--tech">Python</div>
            </div>
        </div>
    </div>
</div>