<header class="header">
    
    <div class="header__main">
        <div class="header-primary">
            <img class="header__headshot" src="../../assets/img/profile-pic.PNG" alt="Headshot">
            <div class="header-primary--intro">
                <p class="header-primary--greeting">Hello World! I'm</p>
                <h1 class="header-primary--main">Frank Chambergo</h1>
                <div class="header-links">
                    <div class="header-links--link">
                        <svg class="header-links--icon" (click)="goToLink('https://www.linkedin.com/in/fchambergo/')">
                            <use xlink:href="../assets/img/linkedin.svg#linkedin"></use>
                        </svg>
                    </div>
                    <div class="header-links--link">
                        <svg class="header-links--icon" (click)="goToLink('https://github.com/fchambergo')">
                            <use xlink:href="../assets/img/github.svg#github"></use>
                        </svg>
                    </div>
                </div>
            </div>

        </div>


        <p class="header-sub--description">I'm a software engineer based in Rockville, MD. I love developing applications just as much as I enjoy designing them.
        </p>
        <a href="../../assets/files/Frank Chambergo CV.pdf" class="header-resume" target="_blank">View Resume</a>
    </div>
</header>