<div class="container">
    <div class="resume-nav">
        <svg class="resume-nav__icon">
            <use xlink:href="../../assets/img/self.svg#self-icon"></use>
        </svg>
        <svg class="resume-nav__icon">
            <use xlink:href="../../assets/img/briefcase.svg#briefcase-icon"></use>
        </svg>
        <svg class="resume-nav__icon">
            <use xlink:href="../../assets/img/graduation.svg#graduation-icon" routerLink="/resume/education"></use>
        </svg>
        <svg class="resume-nav__icon">
            <use xlink:href="../../assets/img/skills.svg#skills-icon"></use>
        </svg>
    </div>
    <div class="resume-component">
        <router-outlet></router-outlet>
    </div>
</div>