<div class="container">
    <div class="resume-nav">
        <svg class="resume-nav__icon" routerLink="/resume/about">
            <use xlink:href="../../assets/img/self.svg#self-icon"></use>
        </svg>
        <svg class="resume-nav__icon" routerLink="/resume/experience">
            <use xlink:href="../../assets/img/briefcase.svg#briefcase-icon"></use>
        </svg>
        <svg class="resume-nav__icon" routerLink="/resume/education">
            <use xlink:href="../../assets/img/graduation.svg#graduation-icon" ></use>
        </svg>
        <svg class="resume-nav__icon" routerLink="/resume/skills">
            <use xlink:href="../../assets/img/skills.svg#skills-icon"></use>
        </svg>
    </div>
    <div class="resume-component">
        <router-outlet></router-outlet>
    </div>
</div>