<div class="resume-container">
    <div class="resume-section about">
        <div class="about__self">
            <img src="../../assets/img/profile-pic.PNG" class="about__profile-pic">
            <div class="about__name">
                <p class="about__name--first">Frank</p>
                <p class="about__name--last">Chambergo</p>
            </div>
        </div>
        <div class="about__info about__location">
            <svg class="about__icon">
                <use xlink:href="../assets/img/location.svg#location"></use>
            </svg>
            <div class="about__info--text">Rockville, MD</div>
        </div>
        <div class="about__info about__number">
            <svg class="about__icon">
                <use xlink:href="../assets/img/phone-numbers-call.svg#phone"></use>
            </svg>
            <div class="about__info--text">(240)-855-6729</div>
        </div>
        <div class="about__info about__email">
            <svg class="about__icon">
                <use xlink:href="../assets/img/mail.svg#mail"></use>
            </svg>
            <p class="about__info--text">franky4908@gmail.com</p>
        </div>
    </div>
    <div class="experience">
        <div class="resume__title">Experience</div>
    </div>
    <div class="education">
        <div class="resume__title">Education</div>
    </div>
    <div class="skills">
        <div class="resume__title">Skills</div>
    </div>
</div>