<div class="container">
    <div class="college">
        <img src="../../../assets/img/umd-icon.png" alt="" class="college__logo">
        <div class="college__degree">
            B.S./Information Science
        </div>
        <div class="college__date">January 2018 - December 2019</div>
        <div class="college__name">University of Maryland - College Park</div>
        <div class="college__location">College Park, MD</div>
        <div class="college__color college__color--umd"></div>
        <div class="college__coursework">
            Related Coursework
            <div class="college__coursework--courses">
                <ul class="list">
                    <li class="list__course">Object Oriented Programming for Information Science - Python</li>
                    <li class="list__course">Database Design & Modeling</li>
                    <li class="list__course">Dynamic Web Applications</li>
                    <li class="list__course">User-Centered Design</li>
                    <li class="list__course">Data Sources & Manipulation</li>
                    <li class="list__course">Information User Needs & Assessment</li>
                </ul>
            </div>
            Award: OMSE Academic Excellence Award
        </div>
    </div>

    <div class="college">
        <img src="../../../assets/img/mc-logo.jpg" alt="" class="college__logo">
        <div class="college__degree">
            A.A./Computer Science
        </div>
        <div class="college__date">August 2015 - December 2017</div>
        <div class="college__name">Montgomery College - Rockville</div>
        <div class="college__location">Rockville, MD</div>
        <div class="college__color college__color--mc"></div>
        <div class="college__coursework">
            Related Coursework
            <div class="college__coursework--courses">
                <ul class="list">
                    <li class="list__course">Computer Science I (Object Oriented Programming - Java)</li>
                    <li class="list__course">Computer Science II (Data Structures & Algorithms)</li>
                    <li class="list__course">Discrete Structures</li>
                    <li class="list__course">Java Programming Language</li>
                    <li class="list__course">Digital Tools for the Digital Arts</li>
                </ul>
            </div>
            Award: Dean's List
        </div>
    </div>
</div>